@import "tailwindcss";

@keyframes float {
    0%, 100% {
        transform: translateY(0px) translateX(0px);
    }
    25% {
        transform: translateY(-20px) translateX(10px);
    }
    50% {
        transform: translateY(-10px) translateX(-10px);
    }
    75% {
        transform: translateY(-30px) translateX(5px);
    }
}

@theme {
    --color-brand: #825cff;
    --animate-float: float 12s ease-in-out infinite;
}

:root {
    background-color: black;
    color-scheme: dark;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}